<div class="container" [hidden]="ngShowForm(connectValues)">
  <div class="col-12">
    <h1>Connexions</h1>
    <br/>
    <form (ngSubmit)="connect(form.value)" #form="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" value="root" name="username" id="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" value="root" class="form-control" id="password" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="col-6">
    <h1>Ajouter dépenses</h1>
    <form (ngSubmit)="outMoney(form2.value)" #form2="ngForm">
      <div class="form-group">
        <label for="amount">Montant</label>
        <input type="number" max="0" class="form-control" name="amount" id="amount" [(ngModel)]="amount">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
  <h1>Entrer montant</h1>
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="alterEgo">Montant</label>
        <input type="number" min="0" class="form-control" id="alterEgo">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">From</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let transfer of transferValue.transfers">
        <tr>
          <th scope="row"></th>
          <td>{{transfer.sender}}</td>
          <td>{{transfer.amount}}</td>
          <td>{{transfer.transferAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <div style="display: block">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>